body {
    font-family: Arial, sans-serif;
    background-color: #e9e4ce;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #a85e5b;
}

p {
    font-size: 18px;
    color: #060505;
}

div {
    background-color: #a85e5b;
    border-radius: 50px;
    padding: 5px;
}